# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE specific
.vscode/

# Databases
*.db
*.sqlite3
intrusions.db
database/intruder_records.db

# Logs and generated images
Intruder_Logs/
logs/
intruder_log.txt
intrusion_log.txt
log.txt

# Test images
your_image.png 